{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-fluid">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        {% if user.profile %}
                        <h2>Perfil de {{ user.profile.first_name }} {{ user.profile.last_name }}</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <p>Nome: {{ user.profile.first_name }}</p>
                            <p>Sobrenome: {{ user.profile.last_name }}</p>
                            <a href="{% url 'profile_update' user.profile.slug %}" type="button"
                              class="btn btn-danger btn-sm">Update</a>
                            {% else %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
      </div>
{% endblock %}