{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container col-6 .col-sm-6 col-md-12 col-lg-12 border p-3">
        <div class="row">
            <div class="col">
                <div class="border">
                    {% if user.profile %}
                    <h2 class="border p-3 text-center m-3">Perfil de {{ user.profile.first_name }} {{ user.profile.last_name }}</h2>

                    <div class="border p-3 m-3">
                        <p>Nome: {{ user.profile.first_name }}</p>
                        <p>Sobrenome: {{ user.profile.last_name }}</p>
                    </div>

                    <div class="border p-3 m-3">
                        <form method="POST">
                            {% csrf_token %}
                            <a href="{% url 'profile_update' user.profile.slug %}" type="button"
                              class="btn btn-danger btn-sm">Update</a>
                            {% else %}
                        </form>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
      </div>
{% endblock %}