{% extends 'base.html' %}

{% block title %}Sensors{% endblock %}

{% block content %}
    <div class="container col-sm- col-md-12 col-lg-12 border p-5">
        <div class="row text-center">
            <div class="col border col-sm- col-md-12 col-lg-12 p-3 mb-4">
                <h1 style="text-align:center">Olá, {{ user.username }}, escolha o sensor que você quer visualizar.</h1>
            </div>
        </div>
        <div class='row'>
        {% if sensors  %}
        {% for sensor in sensors %}
            <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">{{ sensor.sensor_name|title }}</div>
                  <div class="card-body">
                    <p class="card-text">Criado em: {{ sensor.created_at }}</p>
                  </div>
                <div class="card-footer">
                  <a href="{% url 'sensors-table' sensor.slug %}" type="button"
                  class="btn btn-primary btn-sm">Medições</a>
                    <a class="btn btn-danger btn-sm" href="#"
                    data-toggle="modal" data-target="#delete-sensor">Delete</a>
                </div>
            </div>
            </div>

            <!-- Modal -->
            {% include 'sensor/modal_delete_sensor.html' %}
            {% endfor %}
            </div>
            {% else %}
            <h3>Não tem sensor</h3>
            {% endif %}


            <div class="row text-center">
                <div class="col border m-4 p-4">
                    <span>Criar novo sensor?</span>
                        <a href="" type="button"
                            class="btn btn-primary btn-sm">Criar</a>
                </div>
            </div>

    </div>

{% endblock %}