{% extends 'base.html' %}
{% load static %}
{% block title %}Sensors Table{% endblock %}

{% block content %}
    <div class="container col-12 col-sm-12 col-md-12 col-lg-12 border p-5">
        <div class="row">
            <div class="table-responsive p-3">
                <h2 class="text-center border p-3">Últimos dez registros.</h2>
                <table class="table table-bordered">
                  <thead class="table table-bordered">
                    <tr>
                      <th scope="col">Usuario</th>
                      <th scope="col">Temperatura</th>
                      <th scope="col">Umidade</th>
                      <th scope="col">Data</th>
                      <th scope="col">Hora</th>
                        <th scope="col">Ações</th>
                    </tr>
                  </thead>
                    {% if sensors %}
                  <tbody>
                    {% for sensor in sensors %}
                    <tr>
                      <td>{{ user.username|title }}</td>
                      <td>{{ sensor.temperature }}</td>
                      <td>{{ sensor.humidity }}</td>
                      <td>{{ sensor.last_date }}</td>
                      <td>{{ sensor.last_hour }}</td>
                        <td>
                           <a class="btn btn-danger btn-sm" href="#"
                            data-toggle="modal" data-target="#delete-record">Delete</a>
                        </td>
                    </tr>
                    <!-- Modal -->
                    {% include 'sensor/modal_delete_record.html' %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>

            <div class="container border col-12 col-sm-12 col-md-6 col-lg-6 p-3 mt-3"><canvas id="temperature" height="200" width="400"></canvas></div>
            <div class="container border col-12 col-sm-12 col-md-6 col-lg-6 p-3 mt-3"><canvas id="humidity" height="200" width="400"></canvas></div>

        </div>
                    {% else %}
                    {% endif %}




    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
    <script>
        var temperature = {{ temperature|safe }}
        var hours = {{ last_hour|safe }}
        var humidity = {{ humidity|safe }}
    </script>
    <script type="text/javascript" src="{% static 'js/graph.js' %}">
    </script>
{% endblock %}